<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="yemek_tarifi_projesi.Properties.Settings.yemek_tarifiConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\yemek_tarifi.accdb"
            providerName="System.Data.OleDb" />
        <add name="yemek_tarifi_projesi.Properties.Settings.yemek_tarifiConnectionString1"
            connectionString="Data Source=DESKTOP-VA00J7V;Initial Catalog=yemek_tarifi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>